<html lang="en">
<head>
    <%- include('layout/head') %>
</head>
<body>
    <div class="container">
        <div class="col">
            <div>
                <h2>Helping</h2>
                <p>Why, only a little while ago people thought it quite impossible to teach the deaf-blind anything; but no sooner was it proved possible than hundreds of kind, sympathetic hearts were fired with the desire to help them, and now we see how many of those poor, unfortunate persons are being taught to see the beauty and reality of life.</p>
            </div>
        </div>
    </div>
</body>
</html>