#bkg {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/978/125/169/james-webb-space-telescope-carina-nebula-space-telescope-stars-hd-wallpaper-18960d08b0009cd890acf17ec8a2e49a.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    opacity: .9;
    
}
#Main-Content {
    isolation: isolate;
}

#Content {
    position: relative;
    text-align: center;
}

#Nav-He {
    opacity: .5;
    isolation: isolate;
    color: white;
}

#Moon {
    top: 50%;
    left: 50%;
    width: 500px;
    justify-content: center;
    align-items: center;
}

p {
    text-align: justify;
}